{% extends 'base.html.twig' %} 

 {% block title %}Avis des clients{% endblock %}

 {% block content %}

    <main>
        {# Avis #}
        {# Donnez votre avis #}
        <section class="reviews" id="reviews">

            <h1 class="heading"> Donnez <span>votre avis</span> </h1>

            <form method="POST" action="{{ path('save_testimonial') }}">

                <div class="form-group">
                    <div class="rating d-flex justify-content-center my-5 d-flex align-content-center">
                        {% for starRating in range(1, 5) %}
                        <div class="m-3">
                            <i class="text-warning bi bi-star fs-3" data-value="{{ starRating }}"></i>
                        </div>
                        {% endfor %}
                    </div>

                    <input type="hidden" name="note" id="note" value="0">

                    <div class=" d-flex flex-column justify-content-evenly col-sm-8 col-xl-6 mx-auto">
                    {# d-flex flex-column justify-content-evenly col-sm-8 col-xl-6 mx-auto #}
                        <div class="form-group m-2">
                            <label for="author" class="mt-2">Nom :</label>
                            {# form-control border border-warning my-1 #}
                            <input type="text" id="author" name="author" class="form-control border border-warning my-1">

                            <label for="message" class="mt-2">Commentaire :</label>
                            {# form-control border border-warning my-1 #}
                            <textarea id="message" name="message" class="form-control border border-warning my-1"rows="10"></textarea>

                            {# recuperartion de footer #}
                            {% set footerData = footerData() %}

                                <label for="garage_id" class="mt-2">Nom du garage :</label>
                                
                                <select name="garage_id" class="">

                                    {% for garage in footerData.garages %}
                                        <option value="{{ garage.id }}">{{ garage.name }}</option>
                                    {% endfor %} 

                                </select>
                        </div>

                        <input type="hidden" name="token" value="{{ csrf_token('save_testimonial') }}">

                        <button type="submit" class="btn my-5">Donner son avis</button>
                    </div>
            </form>

        </section>

        {# BTN on top #}
    
    </main>

{% endblock %} 

{% block javascript %}
    <script src="{{ asset('assets/js/stars.js') }}"></script>
{% endblock javascript %}
